
@{
    ViewBag.Title = "ErrorValidacionHistoriaClinica";
}
@section scripts{
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
}
<h2>Error de validación en la información de la historia clínica</h2>
<br />
<p>Está tratando de ingresar a la información de una historia clínica sin haber seleccionado un número de HC o está tratando de ingresar de forma no válida.</p>
<br />
<div class="form-group">
    <div class="col-md-2">
        @*<button type="submit" id="buttonBack" class="btn btn-default" onclick="return regresar();">Atrás</button>*@
        <input type="button" class="btn btn-success" value="Regresar"  onclick="return goBack();"/>
    </div>
</div>
<br />
