
@{
    ViewBag.Title = "InformeSesion";
}

<h1 style="text-align:center">Informe sesión</h1>
<div class="container">
    <h4 style="text-align:center; background-color:#9BC2E6">Objetivo de la sesión</h4>
    <div class="form-group">
        <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
    </div>
    <h4 style="text-align:center; background-color:#9BC2E6">Ejercicios y eventos significativos de la semana anterior</h4>
    <div class="form-group">
        <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
    </div>
    <h4 style="text-align:center; background-color:#9BC2E6">Desarrollo y temas tratados durante la sesión</h4>
    <div class="form-group">
        <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
    </div>
    <h4 style="text-align:center; background-color:#9BC2E6">Problemas de sesión (Tareas, ejercicios, comentarios de la formulación y/o modificaciones)</h4>
    <div class="form-group">
        <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
    </div>
    <h4 style="text-align:center; background-color:#9BC2E6">Observaciones</h4>
    <div class="form-group">
        <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" value="Guardar" class="form-control btn btn-primary" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Cancelar" class="form-control" onclick="location.href='@Url.Action("historiaClinica", "HistoriaClinica" )'" />
        </div>
    </div>
</div>
