@model MacapSoftCAPUAN.Models.Remision
@{
    ViewBag.Title = "Lista pacientes remitidos";
}
<meta charset="utf-8">
@section scripts{

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Scripts/bootstrap-table/locale/bootstrap-table-es-CR.min.js"></script>
    <script>


        function winLOSSFormatter(value) {
            var date = new Date(parseInt(value.slice(6, -2)));
            return date.toLocaleDateString();
        }


        var $table = $('#table'),
            $buttonBack = $('#buttonBack'),
            $button = $('#button');


        function regresar() {
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '@Url.Action("Index", "HistoriaClinica")',
                    failure: function (response) {
                    }
                });
        }
    </script>
}

<body>
    <div class="container">
        <h3 align="center"><font size="16">Listado de pacientes remitidos</font></h3>
        <div class="row">
            <div class="col-md-11"></div>
            <div id="toolbar">
                @*<button type="submit" id="buttonBack" class="btn btn-default" onclick="return regresar();">Atrás</button>*@
                <input type="button" class="btn btn-primary" value="Regresar" onclick="location.href='@Url.Action("Index", "HistoriaClinica" )'" />
            </div>
        </div>
        <table id="table"
               data-toggle="table"
               data-search="true"
               data-height="460"
               data-detail-formatter="detailFormatter"
               data-pagination="true"
               data-page-size="20"
               data-page-list="[20,50,100]"
               data-pagination-first-text="Inicio"
               data-pagination-pre-text="Anterior"
               data-pagination-next-text="Siguiente"
               data-pagination-last-text="Ultimo"
               data-url='@Url.Action("listarPacientesRemitidosCAP", "HistoriaClinica")'>
            <thead>
                <tr>
                    <th data-field="id_historiaClinica">Número de historia clínica</th>
                    <th data-field="nombrePaciente">Nombre</th>
                    <th data-field="nombreMotivoRemision">Motivo de remisión</th>
                    <th data-field="lugarRemitido">Lugar remitido</th>
                    <th data-field="fecha" data-formatter="winLOSSFormatter">Fecha de remisión</th>
                </tr>
            </thead>
        </table>
    </div>
</body>

