
@{
    ViewBag.Title = "RecepcionCasoDenegada";
}

<h2>No se puede crear la recepcion de caso</h2>
<br />
<div class="container">
    <p>Ya existe un usuario con ese documento y actualmente su historia clínica se encuentra activa, cualquier duda comuniquese con el coordinador del CAP.</p>
    <div class="form-group">
        <div class="col-md-2">
            <input type="button" value="Regresar" class="form-control btn btn-warning" onclick="location.href='@Url.Action("Index", "HistoriaClinica")'" />
        </div>
    </div>
</div>
