
@{
    ViewBag.Title = "Exito recuperar contrasena";
}

<h2 class="text-success">Exito al recuperar la contraseña</h2>
<br />
<br />
<div class="form-group">
    <div class="col-md-2">
        @*<button type="submit" id="buttonBack" class="btn btn-default" onclick="return regresar();">Atrás</button>*@
        <input type="button" class="btn btn-success" value="Regresar" onclick="location.href='@Url.Action("Index", "HistoriaClinica" )'" />
    </div>
</div>
<br />
