<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://macapsoft.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>macapsoft.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>macapsoft</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$macapsoft</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MacapSoftCAPUAN.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=us-cdbr-azure-east-c.cloudapp.net;Initial Catalog=macapsoft;User ID=b7848d2ee09e83;Password=9fe97a28" Name="Database=macapsoft;Data Source=us-cdbr-azure-east-c.cloudapp.net;User Id=b7848d2ee09e83;Password=9fe97a28" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MacapSoftCAPUAN.Models.ApplicationDbContext, MacapSoftCAPUAN" MigrationConfiguration="MacapSoftCAPUAN.Migrations.Configuration, MacapSoftCAPUAN" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="macapsoft" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="database=macapsoft;server=us-cdbr-azure-east-c.cloudapp.net;user id=b7848d2ee09e83;password=9fe97a28" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\macapsoft_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Database=macapsoft;Data Source=us-cdbr-azure-east-c.cloudapp.net;User Id=b7848d2ee09e83;Password=9fe97a28" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)macapsoft-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MacapSoftCAPUAN.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Database=macapsoft;Data Source=us-cdbr-azure-east-c.cloudapp.net;User Id=b7848d2ee09e83;Password=9fe97a28</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MacapSoftCAPUAN.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>